# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Project
node_modules/
.env
*.log

# Misc
project-structure.txt

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example